@font-face {
  font-family: 'LXGWWenKai';
  src: url('/public/fonts/LXGWWenKai/LXGWWenKai-Bold.ttf'),
    url('/public/fonts/LXGWWenKai/LXGWWenKai-Light.ttf'),
    url('/public/fonts/LXGWWenKai/LXGWWenKai-Regular.ttf'),
    url('/public/fonts/LXGWWenKai/LXGWWenKaiMono-Bold.ttf'),
    url('/public/fonts/LXGWWenKai/LXGWWenKaiMono-Light.ttf'),
    url('/public/fonts/LXGWWenKai/LXGWWenKaiMono-Regular.ttf');
}

@font-face {
  font-family: 'SmileySans Oblique';
  src: url('/public/fonts/SmileySans-Oblique/SmileySans-Oblique.otf') format('opentype'),
    url('/public/fonts/SmileySans-Oblique/SmileySans-Oblique.ttf'),
    url('/public/fonts/SmileySans-Oblique/SmileySans-Oblique.otf.woff2') format('woff2'),
    url('/public/fonts/SmileySans-Oblique/SmileySans-Oblique.ttf.woff2') format('woff2');
}